@font-face {
    font-family: ubuntu;
    src: url('./asset/fonts/Ubuntu/Ubuntu-Light.ttf');
}

@font-face {
    font-family: arshila;
    src: url('./asset/fonts/Arshila/Arshila-Light.otf');
}

@font-face {
    font-family: narcos;
    src: url('./asset/fonts/Narcos/Narcost\ Regular.ttf');
}

@font-face {
    font-family: papillon;
    src: url('./asset/fonts/Papillon/Papillon_PersonalUse.otf');
}

@font-face {
    font-family: dongle;
    src: url('./asset/fonts/Dongle/Dongle-Light.ttf');
}

* {
    font-family: ubuntu;
    text-align: center;
    transition: all ease 300ms;
}

html {
    font-size: 16px;
}

.header_text {
    margin: 1.6rem;
    text-align: center;
}

.header_text h1 {
    font-size: 2.3rem;
    font-family: narcos;
}

.header_text h2 {
    font-size: 1.6rem;
    font-family: arshila;
}

.searcher {
    margin: 1rem 1rem 0.5rem 1.5rem;
}

.searcher_inputs {
    margin: 0 20%;
    width: 60%;
}

#search_btn {
    padding: 1rem;
    width: 23%;
    margin-left: -0.5rem;
    border: solid green 0.01rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(175, 174, 174);
}

#search_btn:hover {
    background-color: green;
    color: white;
}

#user_text {
    width: 75%;
    padding: 1rem;
    border: solid green 0.01rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-align: left;
}

.actions_section input {
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: rgb(124, 124, 248);
    color: white;
    border: solid green 0.01rem;
    border-radius: 1rem;
}

.go_to_admin input {
    margin: 0rem;
}

.actions_section input:hover {
    background-color: blue;
}

.news_card {
    margin: 1rem 1rem 0.5rem 1.5rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.18);
    padding-bottom: 1rem;
    border-radius: 1rem;
    border: solid rgb(204, 204, 204) 0.01rem;
}

.news_card p {
    margin: 1rem 1rem 0.5rem 1.5rem;
    text-align: left;
}

.news_header {
    display: flex;
    margin: 1rem 1rem -1rem 1.5rem;
}

.news_header input {
    margin: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: blue;
    border: 0;
    padding: 0 3rem 0 3rem;
}

.more_news {
    margin: 2rem;
}

.more_news input {
    font-size: 1.3rem;
    font-weight: bold;
    padding: .3rem 3rem;
    color: blue;
    background-color: rgb(175, 174, 174);
    border: solid green 0.01rem;
    border-radius: 0.5rem;
}

.more_news input:hover {
    color: white;
    background-color: rgb(74, 74, 241);
}

#news_content {
    background-color: white;
    border: none;
}

table,
th,
td {
    border-collapse: collapse;
    border: 0.01rem solid green;
}

td {
    padding: 1rem 0.3rem;
}

table {
    width: 94%;
    margin: 3%;
    border-radius: 1rem;
}

.add_news_section {
    text-align: left;
}

.admin_section {
    width: 96%;
    margin: 2%;
}

.admin_section h3 {
    text-align: left;
}

.admin_section input,
textarea {
    text-align: left;
    padding: 0.5rem;
}

.admin_section input,
textarea,
select {
    width: 90%;
    margin: 0 5%;
}

.admin_section select {
    margin: 0.5rem 5%;
    padding: 0.5rem;
    font-size: 1.3rem;
}

#add_news_btn {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(128, 128, 247);
    border: solid green 0.01rem;
    border-radius: 1rem;
    padding: 1rem;
}

#add_news_btn:hover {
    background-color: rgb(23, 23, 248);
}

.body_news {
    padding: 0 2% 0 2%;
    width: 25%;
    padding-bottom: 1rem;
    border-radius: 1rem;
    border: solid rgb(204, 204, 204) 0.01rem;
}

.news_list_section {
    width: 70%;
}

.drop_down_content {
    display: flex;
}

.drop_down_content input {
    text-align: center;
    margin: 0.1rem;
    border: solid green 0.01rem;
}

.admin_section {
    display: none;
}

.recents_news.not_visible {
    display: none;
}

.admin_section.visible {
    display: flex;
}

#publish_btn:hover {
    color: white;
    background-color: green;
}

#unpublish_btn:hover {
    color: white;
    background-color: rgb(177, 15, 177);
}

#delete_btn:hover {
    color: white;
    background-color: red;
}

#update_btn:hover {
    color: white;
    background-color: blue;
}

#publish_btn {
    color: black;
    background-color: rgb(208, 248, 208);
}

#unpublish_btn {
    color: black;
    background-color: rgb(185, 185, 185);
}

#delete_btn {
    color: black;
    background-color: rgb(240, 202, 202);
}

#update_btn {
    color: black;
    background-color: rgb(200, 200, 252);
}

.popup {
    width: 35rem;
    background: white;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 0 2rem 2rem;
    box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.18);
    opacity: 0;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
    border: solid rgb(204, 204, 204) 0.01rem;
}

.popup.active {
    opacity: 1;
    background: white;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup img {
    width: 7rem;
    border-radius: 50%;
    margin-top: 2rem;
}

.popup h2 {
    font-size: 2.1rem;
    font-weight: 500;
    margin: 2rem 0 0.7rem;
}

.popup input {
    width: 100%;
    margin: 0.5rem 0;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    text-align: left;
}

.popup button {
    width: 100%;
    padding: 0.7rem 0;
    background: rgb(118, 118, 252);
    color: white;
    border: 0;
    outline: none;
    font-size: 1rem;
    margin: 0.5rem 0;
    border-radius: 0.2rem;
    cursor: pointer;
}

#danger_popup_btn {
    background: rgb(247, 69, 69);
    margin-bottom: 2rem;
}

.popup button:hover {
    background: rgb(47, 47, 189);
}

#danger_popup_btn:hover {
    background: rgb(204, 27, 27);
}

.more_news.not_visible {
    display: none;
}

.more_news {
    display: inline;
}

.show_news_content {
    width: 35rem;
    background: white;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 0 2rem 2rem;
    box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.18);
    opacity: 0;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
    border: solid rgb(204, 204, 204) 0.01rem;
}

.show_news_content.active {
    opacity: 1;
    background: white;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.show_news_content h2 {
    font-size: 2.1rem;
    font-weight: 500;
    margin: 2rem 0 0.7rem;
}

.show_news_content button {
    width: 100%;
    padding: 0.7rem 0;
    background: rgb(118, 118, 252);
    color: white;
    border: 0;
    outline: none;
    font-size: 1rem;
    margin: 0.5rem 0;
    border-radius: 0.2rem;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .admin_section input,
    textarea,
    select {
        width: 90%;
        margin: 0 5%;
    }
    .admin_section.visible {
        display: block;
    }
    .news_list_section {
        width: 100%;
    }
    .news_list_section input {
        width: 90%;
        margin: 0 2%;
    }
    .body_news {
        width: 94%;
    }
    .popup {
        width: 70%;
    }
    .show_news_content {
        width: 70%;
    }
}

@media screen and (max-width:700px) {
    .drop_down_content {
        display: block;
    }
}

@media screen and (max-width:390px) {
    .drop_down_content {
        display: block;
    }
    .news_header input {
        padding: 0% 1%;
        height: 2.5rem;
        width: 90%;
    }
    .news_header {
        display: block;
        margin: 1%;
    }
    .news_list_content {
        display: none;
    }
}

@media screen and (max-width:540px) {
    .searcher_inputs {
        margin: 0 2%;
        width: 96%;
    }
}